
body{
  background-color: #ffffff;
}

.button:active,
.button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button {
    font-size: 24px;
    min-width: 196px;
  }
}
button {
  border: 0;
  background-color: #fff;
}

.container-fluid {
  margin: 0;
  padding: 0;
}
.header {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
}
.category {
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.authentication {
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.body nav {
  background-color: #af40ff;
}
.hero-inner {
  background-image: url(./images/Stray_dogs_crosswalk.jpg);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, auto);
  background-blend-mode: multiply;
  background-size: 1550px 1000px;
  background-repeat: no-repeat;
  background-attachment: relative;
  position: relative;
}
.img-intro {
  align-items: center;
  text-align: center;
  color: azure;
}

.d-flex2 {
  width: 40%;
  position: absolute;
  margin-left: 30%;
  margin-right: 20%;
  display: flex;
}

.petbutton .button {
  height: 75px;
  width: 100px;
  margin-top: 20px;
  margin-left: 45px;
  align-items: center;
  align-content: center;
  font-family: Phantomsans, sans-serif;
  border: 0px;
  border-radius: 12px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg, #af40ff, 50%, #00ddeb);
}

.petbutton {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  text-align: center;
  align-items: center;
}
.heading {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
    sans-serif;
  color: linear-gradient(144deg, #af40ff, 50%, #00ddeb);
}
.cardtable {
  position: relative;
  text-align: center;
  align-items: center;
  align-content: center;
}

.nearby {
  display: grid;
  grid-template-columns: repeat(3, 414px);
  row-gap: 30px;
  margin-left: 200px;
}

.cardtable .heading marquee {
  background-image: linear-gradient(144deg, #96e4df, 50%, #4dccc6);
}

.instruction {
  position: relative;
  text-align: center;
  align-items: center;
  align-content: center;
}

.Info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 0;
}

.Info .card {
  background-color: rgb(207, 206, 206);
}

.lastcard .lastcardformat {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 25px;
  position: relative;
  margin-top: 20px;
  width: 100%;
}

.lastcard {
  position: relative;
  text-align: center;
  align-items: center;
  align-content: center;
}

.header .logo {
  margin-left: 10px;
}
.footer .footup h4 {
  margin-top: 60px;
}

.footer .footup {
  background-color:#61a1a7;
  position: relative;
  text-align: center;
  align-items: center;
  align-content: center;
}

.footer {
  background-color: #af40ff;
  position: relative;
}

.footer .footerstart table th {
  position: relative;
  padding-left: 60px;
}

.footer .footerstart table td {
  position: relative;
  padding-left: 60px;
}

.footer {
  color: #fff;
}

.footer .footend {
  position: relative;
  display: flex;
}

.footer .footend .blank {
  margin-top: 30px;
  width: 65%;
  margin-left: 7%;
}
.footer .footend .footicon i {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 15px;
  flex-flow: column wrap;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #000;
}

.sign_up_body {
  margin: 10%;
  width: 75%;
  align-items: center;
  align-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.sign_up {
  margin-left: 175px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 5px;
  position: relative;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 50%;
}

.sign_up_body .sign_up .save {
  margin-top: 50px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.sign_up_body {
  background-image: url(././images/golden-retriever.jpg);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
}

.log_in_body {
  margin: 10%;
  width: 75%;
  align-items: center;
  align-content: center;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.log_in {
  margin-left: 175px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 5px;
  position: relative;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 50%;
}

.log_in_body .log_in .save {
  margin-top: 50px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.log_in_body {
  background-image: url(./images/cute-shih-tzu.jpg);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
}

.header .category li {
  list-style: none;
}


.main .content .right .description{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
  text-align: left;
}


.main .content .right{
  padding-right: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main .content{
  display: flex;
  grid-template-columns: repeat(2,1fr);
  background-color: #fff;
  border-radius: 20px;
}

.footer .developer h6 
{
  display: grid;
  margin-left: 85%;
  margin-bottom: 20px;

}

.footer .developer h5 
{
  display: grid;
  margin-left: 70%;

}
.authentication button:hover
{
  background-color: #af40ff;
}